@(ticket: Ticket)

@main("Ticket Filing System") {
    <style xmlns="http://www.w3.org/1999/html">
    body {
    background-color: #e9fefe ;
    height:100%;
    font-family: sans-serif;
    }

    #commentBox
    {
    height: 100px;
    max-height: 100px;
    max-width: 100%;
    width: 50%;
    background-color: #e2d2ff ;
    }

    #logo
    {
    width:126px;
    height:42px;
    border:0;
    background-color: white;
    }

    #top_head
    {
    background-color: #72CCD1;
    }
    </style>

    <script type="text/javascript" src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.versioned("javascripts/index.js")'></script>

    <script type="text/javascript">

    function submitForm()
    {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
    if (xhttp.readyState == 4 && xhttp.status == 200) {
       var res=xhttp.responseText;
       alert(res);
       if(res.indexOf("updated Successfully")>=0)
       {
       window.location = "@routes.Application.index()";
       }
    }};
    var formData = new FormData( document.getElementById("ticket_form") );
    var url="/ticket/".concat("@ticket.ticketID");
    xhttp.open("PUT", url, true);
    xhttp.send(formData);
    return false;
    }
    function cancelForm()
    {
    window.location = "@routes.Application.index()";
    }

    </script>

    <h2 id="top_head" align="center">
        <a href="https://www.redmart.com/">
            <img id="logo" src="@routes.Assets.versioned("images/logo.png")" alt="RedMart Logo" align="left">
        </a>
        Edit Details of Ticket ID : @ticket.ticketID
    </h2>
    <hr color="#EF3E54">
    <hr color="#54C3C7">
    <br>

    <fieldset>
        <form id="ticket_form" xmlns="http://www.w3.org/1999/html">
            <fieldset>
                <legend>Details</legend>
                <hr>
                <label for="ticketID">Ticket ID : </label><input type="text" name="ticketID" placeholder="Ticket ID" value="@ticket.ticketID" readonly/>
                <br><hr>
                <label for="customername">Customer Name : </label><input type="text" name="name" placeholder="Customer Name" value="@ticket.name" readonly/>
                <br><hr>
                <label for="customerid">Customer ID : </label><input type="text" name="nameID" placeholder="Customer ID" value="@ticket.nameID" readonly/>
                <br><hr>
                <label for="createdby">Created By : </label><input type="text" name="createdBy" placeholder="Created By" value="@ticket.createdBy" readonly/>
                <br><hr>
                <label for="assignedto">Assigned To : </label><input type="text" name="assignedTo" placeholder="Assign To" value="@ticket.assignedTo"/>
                <br><hr>
                <label for="issues">Issues related to : </label><input type="text" name="issues" placeholder="Issues" value="@ticket.issues" readonly/>
                <br><hr>
                <b>Status : </b>&ensp;
                <label><input id="status_NEW" type="radio" name="status" value="NEW"> NEW&ensp;</label>
                <label><input id="status_OPEN" type="radio" name="status" value="OPEN"> OPEN&ensp;</label>
                <label><input id="status_CLOSED" type="radio" name="status" value="CLOSED"> CLOSED&ensp;</label>
                <script>
                    document.getElementById("status_".concat("@ticket.status")).checked = true;
                </script>
                <br><hr>
            </fieldset>
            <br>
            <fieldset>
                <legend>Comments</legend>
                <textarea id="commentBox" name="comment" placeholder="Enter Comments" content="text" >@ticket.comment</textarea>
            </fieldset>
            <br>
        </form>
        <fieldset>
            <legend>Action</legend>
            <button onclick="return submitForm();">Save</button>
            <button onclick="return cancelForm();">Cancel</button>
        </fieldset>
    </fieldset>
    <hr>

    <div id="footer" align="center">
        <img src="@routes.Assets.versioned("images/smiley.gif")" alt="Smiley face">
        <p>
            Thank You!
        </p>
    </div>
}